* {
    margin: 0px;
    padding: 0px
}
body {
    background-color: #ccc;
    padding: 10px;
    margin: 10px;
}
h1 {
    font-size: 20px;
    color: blue;
}
button {
    padding: 10px;
    border: 1px solid black;
}
#images {
    display: none;
}